<div [formGroup]="inputForm" class="form-group form-outline">
  <clb-custom-input
    formControlName="username"
    inputLabel="Name"
    inputType="text">
  </clb-custom-input>
  <clb-custom-input
    formControlName="email"
    inputLabel="Email"
    inputType="text">
  </clb-custom-input>
  <clb-custom-input
    formControlName="password"
    inputLabel="Password"
    inputType="password"
  >
  </clb-custom-input>
  <clb-custom-input
    formControlName="passwordConfirm"
    inputLabel="Confirm Password"
    inputType="password"
  >
  </clb-custom-input>
  <div class="btn-group" role="group">
    <button
      type="submit"
      class="btn btn-secondary btn-md outline"
      [disabled]="!inputForm.valid"
    >
      Submit
    </button>
    <button type="button" class="btn btn-secondary btn-md outline">Cancel</button>
  </div>
  <clb-control-errors [control]="inputForm"></clb-control-errors>
</div>
