<form [formGroup]="inputForm"
     class="form-group form-outline"
     (ngSubmit)="onSubmit()">
  <clb-custom-input
    formControlName="username"
    inputLabel="Name"
    inputType="text">
  </clb-custom-input>
  <div class="dropdown-container">
    <clb-dropdown
      togglerTitle="Gender"
      [itemTemplate]="item"
      formControlName="gender"
      [items]="getGenderOptions()">
    </clb-dropdown>
  </div>
  <clb-custom-input
    formControlName="email"
    inputLabel="Email"
    inputType="text">
  </clb-custom-input>
  <clb-multiselect
    [items]="getCountryOptions()"
    formControlName="countries"
    label="Countries you've been to">
  </clb-multiselect>
  <clb-custom-input
    formControlName="password"
    inputLabel="Password"
    inputType="password"
  >
  </clb-custom-input>
  <clb-custom-input
    formControlName="passwordConfirm"
    inputLabel="Confirm Password"
    inputType="password"
  >
  </clb-custom-input>
  <div class="btn-group" role="group">
    <button
      type="submit"
      class="btn btn-secondary btn-md outline"
      [disabled]="!inputForm.valid"
    >
      Submit
    </button>
    <button
      type="button"
      (click)="resetForm()"
      class="btn btn-secondary btn-md outline"
    >
      Reset
    </button>
  </div>
  <clb-control-errors [control]="inputForm"></clb-control-errors>
</form>

<pre>{{ formData | json }}</pre>

<ng-template dropdown-selected-value let-item #item>
  <div
    class="dropdown-item"
  >
    {{ item.value }}
  </div>
</ng-template>
