.radiogroup,
.radioButtonContainer {
  top: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;

  input {
    .hidden();
  }

  label {
    display: inline-block;
  }

  .radio {
    margin: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .fill-in {
    left: 25%;
    border-radius: 30px;
  }

  .radioBtnContainer {
    width: 50%;
  }
}
